body {
  margin: 0;
  padding: 0;
  font-family: 'EB Garamond', serif;
}

.title {
  text-align: center;
  color: white;
  font-size: 50px;
}

.home {
  display: flex;
  width: 100%;
  height: 100vh;
}

.background-img {
  background-color: black;
  width: 50%;
  height: 100%;
  display: flex;
}

.profile-img {
  margin-top: 10px;
  position: absolute;
  max-width: 100%;
  height: auto;
  width: auto;
  max-height: 100%;
  overflow: hidden;
  transform: translateY(-1%);
}

.myabout {
  background-color: black;
  position: relative;
  text-align: center;
  color: white;
  width: 50%;
  height: 100%;
}

.social {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
}

.socilal-links {}

.social img {
  width: 100px;
}


/** Styling For Top Navigation bar **/

/* Hide slider image until page is fully loaded*/
body:not(.loaded) #slider img {
  display: none;
}

.home-button {
  
     
     max-width: 100%;
     max-height: 100%;
     margin-top: 10px;
     margin-right: 2px;
     position:absolute;
     top:0;
     right:0;
}

#myHeader {
  margin: center;
  max-width: 75%;
  font-size: 50px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #540032;
}

@media(max-width: 700px) {
  .home {
      flex-direction: column;
  }
  .home-element {
      width: 100%;
      height: 100vh;
  }
}

body {
  background-color: #1d1d1d;
  margin: 0;
  padding: 0;
}

.myName {
  display: flex;
  height: 10vh;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  height: 10vh;
  justify-content: center;
  align-items: center;
}

#title {
  align-items: center;
  max-width: 50%;
  font-size: 30px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #540032;
}

.title {
  background-image: url(https://cdn.pixabay.com/photo/2017/07/03/20/17/abstract-2468874_960_720.jpg);
  background-attachment: fixed;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

#MySVG {
  height: 100%;
  width: 100%;
  background: black;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color:black;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float:left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}